<h1><%= session[:username] %>'s To-Do List</h1>

  <table>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <form action="/tasks/<%= task.id %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="patch">
              <input type="submit" <% if task.complete %>value="X"<%else%>value="  "<% end %>>
            </form>
          </td>
          <td><%= task.item %></td>
          <td><%= task.due_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/show_hide" data-method="post"><%if @show_all%>Hide Completed<%else%>Show All<%end%></a>
  <a href="/tasks/new">Add Item</a>
  <a href="/logout" data-method="post">Logout</a>