<h1><%= session[:username] %>'s To-Do List</h1>

  <table>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <form method="post" action="/tasks/<%= task.id %>">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input name="_method" type="hidden" value="patch"/>
              <input type="checkbox" name="show" <% if task.complete %> checked <% end %>>
              <input type="submit" value="submit">
            </form>
          </td>
          <td><%= task.item %></td>
          <td><%= task.due_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/tasks/new">Add Item</a>